/* START Basics and Design */




@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@356;700&display=swap');

:root {
  color-scheme: only light;
}

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7EBE3;
  font-family: 'Roboto Slab', serif;
  font-weight: 356;
  font-size: 1.0em;
  line-height: 1.4;
  color: #41403F;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button:start:increment {
  height: 40px;
  display: block;
}

::-webkit-scrollbar-button:end:decrement {
  height: 5px;
  display: block;
}

::-webkit-scrollbar-decrement {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #41403F;
  border-radius: 5px 5px 5px 5px;
}

.hide{
  display: none !important;
}

img.logo {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: auto;
}

audio {
  border: 1px solid #9B9691;
  border-radius: 50dvh;
  margin: 20px auto 20px auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.coalgrey {
  background-color: #41403F;
  color: #FAF0E6;
}

.smokegrey {
  background-color: #9B9691;
  color: #FAF0E6;
}

.pearlwhite {
  background-color: #FAF0E6;
  color: #41403F;
}

.skyblue {
  background-color: #46AAC8;
  color: #FAF0E6;
}

.terracotta {
  background-color: #FF7850;
  color: #FAF0E6;
}

.duckyellow {
  background-color: #FFC800;
  color: #41403F;
}

.shadow-coalgrey {
  border: 1px solid #41403F;
  box-shadow: 3px 3px #41403F;
}

.shadow-smokegrey {
  border: 1px solid #9B9691;
  box-shadow: 3px 3px #9B9691;
}

.shadow-pearlwhite {
  border: 1px solid #FAF0E6;
  box-shadow: 3px 3px #FAF0E6;
}

.shadow-skyblue {
  border: 1px solid #46AAC8;
  box-shadow: 3px 3px #46AAC8;
}

.shadow-terracotta {
  border: 1px solid #FF7850;
  box-shadow: 3px 3px #FF7850;
}

.shadow-duckyellow {
  border: 1px solid #FFC800;
  box-shadow: 3px 3px #FFC800;
}

.text-coalgrey {
  color: #41403F;
}

.text-smokegrey {
  color: #9B9691;
}

.text-pearlwhite {
  color: #FAF0E6;
}

.text-skyblue {
  color: #46AAC8;
}

.text-terracotta {
  color: #FF7850;
}

.text-duckyellow {
  color: #FFC800;
}

.text-coalgrey::placeholder {
  color: #41403F;
  opacity: 0.7;
}

.text-smokegrey::placeholder {
  color: #9B9691;
  opacity: 0.7;
}

.text-pearlwhite::placeholder {
  color: #FAF0E6;
  opacity: 0.7;
}

.text-skyblue::placeholder {
  color: #46AAC8;
  opacity: 0.7;
}

.text-terracotta::placeholder {
  color: #FF7850;
  opacity: 0.7;
}

.text-duckyellow::placeholder {
  color: #FFC800;
  opacity: 0.7;
}

.coalgrey::selection {
  background-color: #9B9691;
  color: #41403F;
}

.smokegrey::selection {
  background-color: #FAF0E6;
  color: #41403F;
}

.pearlwhite::selection {
  background-color: #9B9691;
  color: #FAF0E6;
}

.skyblue::selection {
  background-color: #A0E6FF;
  color: #14647D;
}

.terracotta::selection {
  background-color: #FFAF96;
  color: #A04B19;
}

.duckyellow::selection {
  background-color: #FFE696;
  color: #966400;
}

button {
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.0em;
  border: none;
  border-radius: 0px 20px 0px 20px;
  border-width: 2px;
  border-color: #9B9691;
  background-color: #41403F;
  color: #9B9691;
  transition: box-shadow .3s;
  cursor:pointer;
}

button:hover {

}

button.shadow-coalgrey {
  border: none;
  box-shadow: 3px 3px #41403F;
}

button.shadow-coalgrey:hover {
  box-shadow: 5px 5px #41403F;
}

button.shadow-smokegrey {
  border: none;
  box-shadow: 3px 3px #9B9691;
}

button.shadow-smokegrey:hover {
  box-shadow: 5px 5px #9B9691;
}

button.shadow-pearlwhite {
  border: none;
  box-shadow: 3px 3px #FAF0E6;
}

button.shadow-pearlwhite:hover {
  box-shadow: 5px 5px #FAF0E6;
}

button.shadow-skyblue {
  border: none;
  box-shadow: 3px 3px #46AAC8;
}

button.shadow-skyblue:hover {
  box-shadow: 5px 5px #46AAC8;
}

button.shadow-terracotta {
  border: none;
  box-shadow: 3px 3px #FF7850;
}

button.shadow-terracotta:hover {
  box-shadow: 5px 5px #FF7850;
}

button.shadow-duckyellow {
  border: none;
  box-shadow: 3px 3px #FFC800;
}

button.shadow-duckyellow:hover {
  box-shadow: 5px 5px #FFC800;
}

input {
  font: inherit;
  font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 356;
  margin-block-start: 0;
  margin-block-end: 0.25em;
}

h1 {
  font-size: 1.6em;
  font-weight: 700;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.75em;
  text-transform: uppercase;
}

p {
  font-size: 1em;
  margin-block-start: 0;
}

.text-small {
  font-size: 0.75em;
}

div.icon {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  top: 0.4em;
  width: 1.45em;
  height: 1.45em;
  border: none;
  border-radius: 100%;
}

div.icon > img {
  width: 100%;
  height: 100%;
}

div.arrow {
  display: inline-block;
  position: relative;
  top: 0.4em;
  width: 1.45em;
  height: 1.45em;
  background-color: initial;
}

div.arrow.up.pearlwhite {
  background-image: url('../assets/hand.gemacht WebApp icon arrow up pearlwhite.svg');
}

div.arrow.right.pearlwhite {
  background-image: url('../assets/hand.gemacht WebApp icon arrow right pearlwhite.svg');
}

div.arrow.down.pearlwhite {
  background-image: url('../assets/hand.gemacht WebApp icon arrow down pearlwhite.svg');
}

div.arrow.left.pearlwhite {
  background-image: url('../assets/hand.gemacht WebApp icon arrow left pearlwhite.svg');
}

div.arrow.up.coalgrey {
  background-image: url('../assets/hand.gemacht WebApp icon arrow up coalgrey.svg');
}

div.arrow.right.coalgrey {
  background-image: url('../assets/hand.gemacht WebApp icon arrow right coalgrey.svg');
}

div.arrow.down.coalgrey {
  background-image: url('../assets/hand.gemacht WebApp icon arrow down coalgrey.svg');
}

div.arrow.left.coalgrey {
  background-image: url('../assets/hand.gemacht WebApp icon arrow left coalgrey.svg');
  
}

div.pill {
  display: inline-block;
  font-size: 0.75em;
  padding: 2px 12px 2px 12px;
  margin: 2px 5px 2px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

div.pill.inactive {
  opacity: 0.3;
}

div.pill.shadow-coalgrey {
  border: 1px solid #41403F;
  box-shadow: 1px 1px #41403F;
}

div.pill.shadow-smokegrey {
  border: 1px solid #9B9691;
  box-shadow: 1px 1px #9B9691;
}

div.pill.shadow-pearlwhite {
  border: 1px solid #FAF0E6;
  box-shadow: 1px 1px #FAF0E6;
}

div.pill.shadow-skyblue {
  border: 1px solid #46AAC8;
  box-shadow: 1px 1px #46AAC8;
}

div.pill.shadow-terracotta {
  border: 1px solid #FF7850;
  box-shadow: 1px 1px #FF7850;
}

div.pill.shadow-duckyellow {
  border: 1px solid #FFC800;
  box-shadow: 1px 1px #FFC800;
}

.landing-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* END Basics and Design */









/* START gui */




/* ---------- gui title ---------- */

div.gui-title-container {
  display: flex;
  position: fixed;
  top: 10px;
  left: 20px;
  margin: 0;
  padding: 0;
  z-index: 6;
}

div.gui-title-container.clickable {
  cursor: pointer;
}

div.gui-title-container > h1.title {
  display: inline;
}

div.gui-title-container > div.arrow {
  display: inline;
  top: 0.1em;
  margin-right: 0.65em;
}

div.gui-title-container > div.arrow > img.icon {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  aspect-ratio: auto;
  z-index: 1;
}




/* ---------- gui logo ---------- */

div.gui-logo {
  display: none;
  position: fixed;
  bottom: 5px;
  left: 50%;
  right: initial;
  width: 120px;
  height: auto;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  z-index: 4;
}

div.gui-logo > img.logo {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: auto;
  z-index: 1;
}




/* ---------- gui version ---------- */

div.gui-version {
  display: none;
  position: fixed;
  bottom: 0px;
  right: initial;
  left: 50%;
  width: 120px;
  height: auto;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
  color: #9B9691;
  z-index: 4;
}




/* ---------- gui loading screen ---------- */

div.gui-loading-screen {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  background-color: #FAF0E6;
  pointer-events: none;
  opacity: 1;
  transition: opacity 1.5s;
  z-index: 3;
}

div.gui-loading-screen.transparent {
  opacity: 0;
}

div.animation-container {
  width: 270px;
  height: 585px;
  margin: 0;
  text-align: center;
  padding-top: 150px;
}

div.animation-container > div.text {
  color: #9B9691;
  padding: 20px;
}

div.animation-container > object.animation {
  width: 150px;
  height: auto;
}




/* ---------- gui message ---------- */

div.gui-message-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  pointer-events: none;
}

div.gui-message-container {
  position: relative;
  width: calc(100vw - 40px);
  height: calc(100dvh - 40px);
  margin: 0;
  pointer-events: none;
  z-index: 4;
}

div.gui-message {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 5px;
  border-radius: 0px 20px 0px 20px;
  pointer-events: all;
  text-align: right;
}

div.gui-message.buttonsActive {

}

div.gui-message-container > div.type {
  position: absolute;
  bottom: calc(5px + 40%);
  left: 0;
  padding: 2px 15px 1px 12px;
  border-radius: 0px 7px 0px 0px;
  border: none;
  box-shadow: none;
  font-size: 0.75em;
  font-weight: 356;
  letter-spacing: .6px;
  pointer-events: all;
}

div.gui-message-container > div.type.buttonsActive {
  bottom: calc(25px + 40%);
}

div.gui-message > div.close {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

div.gui-message > div.close > img.close-icon {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  float: right;
  width: 16px;
  height: 16px;
}

div.gui-message > div.content-container {
  position: relative;
  margin-right: 5px;
  padding: 3px 20px 60px 12px;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

div.gui-message > div.content-container::-webkit-scrollbar-button:end:decrement {
  height: 45px;
  display: block;
}

div.gui-message > div.content-container > div.content {
  text-align: left;
}

div.gui-message > div.content-container > div.content > .categories, .tags, .objects {
  margin-bottom: 15px;
}

div.gui-message > div.content-container > div.content > h3 {
  font-size: 1.4em;
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

div.gui-message > div.content-container > div.content > ul, p {
    font-size: 1.1em;
}

div.gui-message > div.button-container {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: all;
}

div.gui-message > div.button-container > button.button {
  min-width: 70px;
  min-height: 30px;
  padding: 0 15px 0 25px;
  border-radius: 0px;
}

div.gui-message > div.button-container > button.button > * {
  display: inline;
}

div.gui-message > div.button-container > button.button:first-child {
  border-radius: 20px 0 0 0;
}

div.gui-message > div.button-container > button.button:last-child {
  border-radius: 0 0 0 0;
  margin: 0 0 0 1px;
}

div.gui-message > div.button-container > button.button > div.label {
  vertical-align: 1px;
}

div.gui-message > div.button-container > button.button > img.button-icon {
  position: relative;
  top: 0.3em;
  width: 1.45em;
  height: 1.45em;
}




/* ---------- gui error ---------- */

div.gui-error-container {
  position: relative;
  width: calc(100vw - 50%);
  height: calc(100dvh - 50%);
  margin: 0;
  pointer-events: none;
  z-index: 4;
}

div.gui-error-container > div.gui-error {
  position: absolute;
  width: 100%;
  height: calc(100% - 15px);
  border-radius: 0px 20px 0px 20px;
  pointer-events: all;
  text-align: right;
}

div.gui-error-container > div.gui-error > div.content-container {
  position: relative;
  margin-right: 5px;
  padding: 15px;
  height: 100%;
  overflow-y: scroll;
}

div.gui-error-container > div.gui-error > div.content-container > div.content {
  text-align: left;
}

div.gui-error-container > button.button {
  position: absolute;
  bottom: 5px;
  right: 15px;
  min-width: 70px;
  min-height: 30px;
  padding: 0 15px 0 15px;
  pointer-events: all;
}




/* ---------- gui fullscreen-image ---------- */

div.gui-fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  margin: 0;
  background-color: #41403FAA;
  z-index: 5; 
}

div.gui-fullscreen-container > img.image {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
}




/* ---------- gui menu ---------- */

button.gui-menu-button {
  position: fixed;
  top: 15px;
  right: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  z-index: 4;
}

button.gui-menu-button > img.icon {
  display: block;
  width: 30px;
  height: 30px;
}

div.gui-menu-container {
  position: fixed;
  top: 1%;
  right: 50%;
  width: 96%;
  height: 98%;
  transform: translateX(50%);
  margin: 0;
  padding: 0;
  background-color: #41403F;
  color: #FAF0E6;
  border-radius: 0px 20px 0px 20px;
  overflow: hidden;
  z-index: 6;
}

div.gui-menu-container > div.close {
  position: relative;
  z-index: 6;
}

div.gui-menu-container > div.close > img.close-icon {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  float: right;
  width: 16px;
  height: 16px;
}

div.gui-menu-container > div.content {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.gui-menu-container > div.content > div.menu-logo {
  width: 50%;
  margin: 50px auto 0 auto;
}

div.gui-menu-container > div.content > div.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 1.4em;
  font-weight: 356;
}

div.gui-menu-container > div.content > div.text {
  text-align: center;
  font-size: 1.0em;
  margin: 0 50px 0 50px;
}

div.gui-menu-container > div.content > div.button-container {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

div.gui-menu-container > div.content > div.link-container {
  width: 100%;
  margin-top: 60px;
}

div.gui-menu-container > div.content > div.version {
  color: #9B9691;
  text-align: center;
  font-size: 0.75em;
  margin-top: 10px;
}

div.gui-menu-container > div.content > div.button-container > a > button {
  width: 80%;
  height: auto;
  padding: 7px;
  margin: 10px 0 10px -5px;
}

div.gui-menu-container > div.content > div.link-container > a {
  display: block;
  margin: 5px;
  color: #FAF0E6;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
}

div.gui-menu-container > div.patronage-logo {
  position: absolute;
  bottom: 0;
  background-color: #fff;
}




/* ---------- gui toolbar ---------- */

div.gui-toolbar-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  pointer-events: none;
}

div.gui-toolbar-container {
  position: relative;
  width: calc(100vw - 40px);
  height: calc(100dvh - 40px);
  margin: 0;
  pointer-events: none;
  z-index: 3;
}

div.gui-toolbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 60px;
  left: 50%;
  bottom:-75px;
  transform: translateX(-50%);
  border-radius: 30px 30px 30px 30px;
  pointer-events: all;
  transition: bottom 0.5s;
  z-index: 4;
}

div.gui-toolbar.active {
  bottom: 25px;
}

div.gui-toolbar > button.button {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  border-radius: 25px 25px 25px 25px;
  transition: all 0.6s;
  align-self: center;
  text-align: left;
  overflow: hidden;
}

div.gui-toolbar > button.button.feedback {
  transition: none;
}

div.gui-toolbar > button.button.feedback > img {
  width: 30px;
  height: 30px;
}

div.gui-toolbar > button.button.slide {
  width: 100%;
  height: 60px;
  margin: 0;
  border-radius: 30px;
}

div.gui-toolbar > button.button.tab {
  height: 60px;
  transform: translateY(-5px);
  border-radius: 0 0 30px 30px;
}

div.gui-toolbar > button.button.inactive {
  opacity: 0.3;
  pointer-events: none;
}

div.gui-toolbar > button.button.remove {
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: all 0s;
}

div.gui-toolbar > button.button > img.icon {
  position: relative;
  width: 40px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  align-self: center;
  transition-duration: 0.6s;
  transition-property: width, left, transform;
}

div.gui-toolbar > button.button > img.icon:active {
  opacity: 0.5;
}

div.gui-toolbar > button.button > img.icon.slide {
  margin: 5px;
  left: 0;
  transform: translateX(0px);
}

div.gui-toolbar > button.button > img.icon.tab {

}

div.gui-toolbar > div.tab-container {
  position: relative;
  width: 100%;
  height: 100%;
}

div.tab-container > div.tab {
  position: absolute;
  width: calc(100% - 12px);
  height: 0;
  left: 0;
  bottom: 40px;
  margin: 6px;
  border-radius: 0 30px 0 0;
  pointer-events: none;
  transition: height 0.5s;
  overflow: hidden;
}

div.tab-container > div.tab.active {
  height: 85%;
  pointer-events: all;
}

div.tab > div.fade {
  position: absolute;
  width: 100%;
  height: 60px;
  transform: translateY(-60px);
  background: linear-gradient(0deg, var(--color-var, rgba(0,0,0,0)) 75%, rgba(0,0,0,0) 100%);
}

div.tab > div.bar {
  position: absolute;
  width: 100%;
  height: 60px;
  transform: translateY(-45px);
}

div.tab > div.content-container {
  width: 100%;
  height: 100%;
  padding: 12px 20px 120px 12px;
  overflow-y: scroll;
}

div.tab > div.content-container::-webkit-scrollbar-thumb {
  background: #9B9691;
}

div.tab > div.content-container::-webkit-scrollbar-button:start:increment {
  height: 30px;
  display: block;
}

div.tab > div.content-container::-webkit-scrollbar-button:end:decrement {
  height: 60px;
  display: block;
}

div.tab > div.content-container > div.content {
  width: 100%;
  height: auto;
}





/* END gui */









/* START model viewer */









model-viewer {
  width: 100vw;
  height: 100dvh;
  opacity: 1;
}

/* --- Toolbar and Tools --- */

section.toolbar {
  position: absolute;
  top: 100px;
  width: 50px;
  padding: 0px;
  margin: 20px;
}

button.tool {
  border: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin-bottom: 30px;
  padding: 0;
  border-radius: 25px;
  box-shadow: 3px 1px #46AAC8;
  transition: all 1s;
}

button.tool.attention-animation{
  animation-name: attentionAnimation;
  animation-duration: 4.0s;
  animation-iteration-count: infinite;
}

@keyframes attentionAnimation {
  0% {transform: rotate(0deg) translateX(0px);}
  80% {transform: rotate(0deg) translateX(0px);}
  86% {transform: rotate(7deg) translateX(3px);}
  96% {transform: rotate(-7deg) translateX(-3px);}
  100% {transform: rotate(0deg) translateX(0px);}
}

button.tool.active {
  box-shadow: 3px 1px #FF7850;
}

button.tool:hover {
  transform: scale(1.2);
}

.tool-symbol {
  width: 100%;
  height: 100%;
}

/* --- Hotspots --- */

button.hotspot {
  min-width: 0;
  min-height: 0;
  width: 28px;
  height: 28px;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
  transition: all 1s;
  --min-hotspot-opacity: 0.2;
}

button.hotspot.focus {
  width: 200px;
  height: 200px;
  pointer-events: none;
}

.hotspot.border {
  width: 100%;
  height: 100%;
  border: 3px solid #FAF0E6;
  border-radius: 50%; 
  transition: all 0.5s;
}

button.hotspot.focus > .hotspot.border {
  border: 5px solid #FAF0E6;
  background-color: transparent;
  pointer-events: none;
}

img.hotspot-icon {
  width: 100%;
  height: 100%;
  padding: 1px;
  opacity: 1;
  transition: all 0.5s;
}

button.hotspot.focus > .hotspot.border > img.hotspot-icon {
  opacity: 0;
  pointer-events: none;
}

@keyframes hoverAnimation {
  from {transform: scale(1);}
  to {transform: scale(1.5);}
}

button.hotspot.hover-animation {
  animation-name: hoverAnimation;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* --- Annotations --- */

p.annotation-text {
  padding: 0px 30px 15px 0px;
}

p.annotation-text.quote {
  padding: 0 30px 0 40px;
  font-style: italic;
}

a.annotation-link {
  display: block;
  color: #FF7850;
}

a.annotation-link:visited {
  color: #A04B19;
}

div.annotation-image, span.annotation-image {
  float: right;
  width: 80%;
  margin: 15px 15px 15px 30px;
  background-color: #FF7850;
  border-radius: 0px 20px 0px 20px;
}

div.annotation-image, span.annotation-image > div.annotation-image-box, span.annotation-image-box {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: -15px 0 0 -15px; 
}

div.annotation-image, span.annotation-image > div.annotation-image-box, span.annotation-image-box > img {
  width: 100%;
  height: auto;
}

div.annotation-image-caption, span.annotation-image-caption {
  display: inline-block;
  font-size: 0.75em;
  font-weight: 700;
  margin: 0;
  padding: 10px 15px 15px 15px;
  color: #FAF0E6;
}

div.annotation-image-caption, span.annotation-image-caption > .copyright {
  display: block;
  font-weight: 356;
  white-space: nowrap;
}

div.annotation-close-container {
  will-change:transform;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
}

img.annotation-close-icon {
  display: block;
  position: absolute;
  right: 6px;
  float: right;
  width: 16px;
  height: 16px;
}

/* --- measurements --- */

button.dot {
  display: block;
  width: 0px;
  height: 0px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  --min-hotspot-opacity: 0;
  --max-hotspot-opacity: 0;
  pointer-events: none;
}

button.dim {
  display: block;
  position: absolute;
  width: max-content;
  height: max-content;
  background-color: transparent;
  border: none;
  box-shadow: none;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  transform: translate3d(-20%, -25%, 0);
  pointer-events: none;
  --min-hotspot-opacity: 0;
}

.dimensionLineContainer {
  pointer-events: none;
  display: block;
}

.dimensionLine {
  stroke: #9B9691;
  stroke-width: 2;
  stroke-dasharray: 5,7;
}

/* --- fixes --- */

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}




/* END model-viewer */









/* START collection viewer */





/* ---------- tooltip ---------- */

div.cv-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

div.cv-tooltip > div.type {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px 15px 1px 12px;
  border-radius: 0px 7px 0px 0px;
  font-size: 0.75em;
  letter-spacing: .6px;
  white-space: nowrap;
  z-index: 1;
}

div.cv-tooltip > div.content {
  position: absolute;
  top: 15px;
  padding: 3px 15px 4px 12px;
  border-radius: 0px 20px 0px 20px;
  font-size: 1.2em;
  white-space: nowrap;
}




/* ---------- highlight ---------- */

div.cv-highlight {
  position: absolute;
  z-index: 1;
}

div.cv-highlight-type {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px 15px 1px 12px;
  border-radius: 0px 7px 0px 0px;
  font-size: 0.75em;
  letter-spacing: .6px;
  z-index: 1;
}

div.cv-highlight-content {
  position: absolute;
  top: 15px;
  padding: 3px 15px 4px 12px;
  border-radius: 0px 20px 0px 20px;
  font-size: 1.2em;
  white-space: nowrap;
}

img.cv-highlight-arrow {
  display: inline-block;
  margin-left: 10px;
  transform: translateY(3px);
  width: 20px;
  height: 20px;
}




/* ---------- filter ---------- */




div.cv-filter-container {
  padding: 15px 0 0 0;
  margin: 0 0 20px 0;
  overflow: hidden;
}

.collapsible-content {
  padding: 0;
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
}

.collapsible-content.active {
  padding: 15px 0 0 0;
  max-height: 200dvh;
}

div.cv-filter-container > div.list-container {
}

div.cv-filter-container > div.list-container > button.button {
  width: 100%;
  background-color: initial;
  text-align: left;
}

div.cv-filter-container > div.list-container > button.button.collapsible-button {
}

div.cv-filter-container > div.list-container > button.button.collapsible-button > div.arrow {
  transition: all 0.25s;
}

div.cv-filter-container > div.list-container > button.button.collapsible-button.active > div.arrow {
  transform: rotate(90deg);
}

div.cv-filter-container > button.button.text-small {
  margin: 0 0 10px 0;
  width: 100%;
  background-color: initial;
  text-align: left;
}




/* ---------- search ---------- */




div.cv-search-input-container {
  width: 100%;
  height: 100%;
}

input.cv-search-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0 20px 0 10px;
}

input.cv-search-input:focus {
  outline: none;
}

div.autocomplete-list-container {
  position: absolute;
  width: 100%;
  max-height: 250px;
  left: 0;
  bottom: 70px;
  border-radius: 0 20px 0 20px;
  overflow: hidden;
  overflow-y: scroll;
}

div.autocomplete-list-container > div.autocomplete-list {
  padding: 10px;
}

div.autocomplete-list-container > div.autocomplete-list > div {
  margin: 2px;
}
div.autocomplete-list-container > div.autocomplete-list > div.autocomplete-active {
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 5px;
}






/* END collection viewer */









/* START ar viewer */




/* --- AR-MODE specific ----*/
/* a-dom overlay ar */
.a-dom-overlay{
  cursor:auto;
}
.a-dom-overlay:not(.a-no-style){
  padding: 0 !important;
pointer-events: auto !important;
}

#ar-overlay {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
}
#gui-close-popup{
  z-index: 5;
}
/* BOTTOM MENU*/
.bottom-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 0;
}

button.menu-btn {
  padding: 15px 30px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  background-color: transparent;
  position: relative;
}

.menu-btn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.menu-btn.active::after {
  width: 80px;
}

/* TOOL toggles */
.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  padding-right: 10px;
  position: fixed;
  right: 5%;
  bottom: 100px;
  font-size: 20px;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.toggle-label {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #faf0e6;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #46aac8;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
input[type="range"]{
  background: #46AAC8;
}
.slider-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.slider-label {
  margin-right: 10px;
}

/*SCORE overlay*/
#score-container {
  position: fixed;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 2%;
  top: 2%;
}

.book-container {
  flex-direction: row;
  align-items: center;
  display: flex;
}
img.annotation-book-symbol {
  position: relative;

  width: 50px;
  height: 50px;
}
/*mission overview image*/
.book-symbol {
  height: 150px;
}

div.annotation.mission {
  top: 5% !important;
}

/* QUIZ overlay*/
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.answer-container {
  width: 100%;
}

.answer-option {
  background-color: #ffaf96;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;

  transition: background-color 0.3s;
}

/* Hide the radio buttons */
input[type="radio"] {
  display: none;
}

.answer-option input[type="radio"] {
  margin-right: 10px;
}
/* Change color of the checked label */
input[type="radio"]:checked + .answer-option {
  background-color: #FAF0E6;
  color: #41403F;
}

/* INVENTAR */
#inventar {
  will-change: transform;
  position: fixed;
  bottom: 8%;
  width: 100%;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
}

.round-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 15px;
  bottom: 8%;
  left: 40%;
  background-color: white;
}

/* Image styling */
.round-container img {
  width: 100%;
  height: auto;
}

.clicked {
  box-shadow: 3px 1px #ff7850;
}

/*close AR container*/
#close-cont {
  padding: 10px;
}
 /* help-container*/

 div.help-container {
  position: absolute;
  bottom: 45px;
}

img.help-symbol{
  display: block;
  position: absolute;
  left: 12px;
  float: left;
  width: 16px;
  height: 16px;
}




/* END ar viewer */









/* START Layout Breakpoints */




/* very small  */
@media only screen and (min-width: 420px) {

  div.gui-message-container {
    width: calc(440px - 40px);
  }

  div.gui-menu-container {
    right: 20px;
    width: calc(340px - 40px);
    max-height: 660px;
    transform: none;
  }

  div.gui-toolbar-container {
    width: calc(340px - 40px);
  }

  div.gui-toolbar-tab.active {
    height: 500px;
  }

}

/* small  */
@media only screen and (min-width: 640px) {

}

/* medium  */
@media only screen and (min-width: 768px) {

  body {
    font-size: 1.15em;
  }

  div.gui-message-container {
    width: calc(640px - 40px);
  }

  div.annotation-image, span.annotation-image {
  float: right;
  width: 40%;

}

/* large  */
@media only screen and (min-width: 1024px) {

  div.gui-version {
    display: initial;
    bottom: 20px;
    right: 20px;
    left: initial;
    transform: none;
  }

  div.gui-logo {
    display: initial;
    bottom: 30px;
    right: 20px;
    left: initial;
    transform: none;
  }

  div.annotation {
    margin: 0;
    min-width: 250px;
    max-width: 35%;
    min-height: 250px;
    max-height: 35%;
    top: 58%;
    left: 52%;
  }

  div.annotation.context-story {
    min-width: 250px;
    max-width: 30%;
    min-height: 250px;
    max-height: 75%;
    top: 5%;
    left: initial;
  }

}




/* END Layout Breakpoints */