/* START Basics */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@356;700&display=swap');

:root {
  color-scheme: only light;
}

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7EBE3;
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  line-height: 1.4;
  color: #41403F;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button:start:increment {
  height: 40px;
  display: block;
}

::-webkit-scrollbar-button:end:decrement {
  height: 5px;
  display: block;
}

::-webkit-scrollbar-decrement {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FAF0E6;
  border-radius: 5px 5px 5px 5px;
}

.hide{
  display: none !important;
}

audio {
  border: 1px solid #9B9691;
  border-radius: 50vh;
  margin-left: 40px;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}

.coalgrey {
  background-color: #41403F;
  color: #FAF0E6;
}

.smokegrey {
  background-color: #9B9691;
  color: #FAF0E6;
}

.pearlwhite {
  background-color: #FAF0E6;
  color: #41403F;
}

.skyblue {
  background-color: #46AAC8;
  color: #FAF0E6;
}

.terracotta {
  background-color: #FF7850;
  color: #FAF0E6;
}

.duckyellow {
  background-color: #FFC800;
  color: #41403F;
}

.shadow-coalgrey {
  border: 1px solid #41403F;
  box-shadow: 3px 3px #41403F;
}

.shadow-smokegrey {
  border: 1px solid #9B9691;
  box-shadow: 3px 3px #9B9691;
}

.shadow-pearlwhite {
  border: 1px solid #FAF0E6;
  box-shadow: 3px 3px #FAF0E6;
}

.shadow-skyblue {
  border: 1px solid #46AAC8;
  box-shadow: 3px 3px #46AAC8;
}

.shadow-terracotta {
  border: 1px solid #FF7850;
  box-shadow: 3px 3px #FF7850;
}

.shadow-duckyellow {
  border: 1px solid #FFC800;
  box-shadow: 3px 3px #FFC800;
}


button {
  min-width: 70px;
  min-height: 30px;
  font-family: 'Roboto Slab', serif;
  font-size: .7em;
  border: none;
  border-radius: 0px 20px 0px 20px;
  border-width: 2px;
  border-color: #9B9691;
  background-color: #41403F;
  color: #9B9691;
  transition: box-shadow .3s;
  cursor:pointer;
}

button:hover {

}

button.shadow-coalgrey {
  border: none;
  box-shadow: 3px 3px #41403F;
}

button.shadow-coalgrey:hover {
  box-shadow: 5px 5px #41403F;
}

button.shadow-smokegrey {
  border: none;
  box-shadow: 3px 3px #9B9691;
}

button.shadow-smokegrey:hover {
  box-shadow: 5px 5px #9B9691;
}

button.shadow-pearlwhite {
  border: none;
  box-shadow: 3px 3px #FAF0E6;
}

button.shadow-pearlwhite:hover {
  box-shadow: 5px 5px #FAF0E6;
}

button.shadow-skyblue {
  border: none;
  box-shadow: 3px 3px #46AAC8;
}

button.shadow-skyblue:hover {
  box-shadow: 5px 5px #46AAC8;
}

button.shadow-terracotta {
  border: none;
  box-shadow: 3px 3px #FF7850;
}

button.shadow-terracotta:hover {
  box-shadow: 5px 5px #FF7850;
}

button.shadow-duckyellow {
  border: none;
  box-shadow: 3px 3px #FFC800;
}

button.shadow-duckyellow:hover {
  box-shadow: 5px 5px #FFC800;
}

/* END Basics */



/* START gui */

/* gui */
div.gui-title {
  position: fixed;
  top: 20px;
  left: 50px;
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  color: #41403F;
  z-index: 1;
}

div.gui-version {
  position: fixed;
  bottom: 20px;
  right: 50px;
  left: initial;
  width: 150px;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: .4em;
  color: #9B9691;
  z-index: 1;
}

div.gui-logo {
  position: fixed;
  bottom: 30px;
  right: 50px;
  left: initial;
  width: 150px;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: 1;
}

img.logo {
  width: 100%;
  height: auto;
  z-index: 1;
}

div.gui-loading-screen {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #41403F;
  pointer-events: none;
  z-index: 5;
}

div.gui-loading-container {
  width: 270px;
  height: 585px;
  margin: 0;
  text-align: center;
  padding-top: 150px;
}

div.gui-loading-text {
  color: #FAF0E6;
  padding: 20px;
}

object.gui-loading-animation {
  width: 150px;
  height: auto;
}

div.gui-message-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

div.gui-message-container {
  position: relative;
  top: 100px;
  width: 270px;
  height: 585px;
  margin: 0;
}

div.gui-message {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 20px;
  border-radius: 0px 20px 0px 20px;
  text-align: right;
  z-index: 6;
}

div.gui-message-close {
  position: relative;
  z-index: 6;
}

img.gui-message-close-symbol {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  float: right;
  width: 16px;
  height: 16px;
}

div.gui-message-content-container {
  position: relative;
  margin-right: 5px;
  padding: 15px;
  height: 100%;
  overflow-y: scroll;
}

div.gui-message-content {
  text-align: left;
}

div.gui-message-content > h3 {
  margin-top: 0;
}

div.gui-message-button-container {
  position: absolute;
  bottom: 12px;
  right: 0;
  padding: 0 15px 0 15px;
  z-index: 6;
}

button.gui-message-button {
  margin: 0 5px 0 5px;
  padding: 0 15px 0 15px;
}

div.gui-error-container {
  position: absolute;
  top: 100px;
  width: 270px;
  height: 585px;
  margin: 0;
}

div.gui-error {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 20px;
  background-color: #FF7850;
  color: #FAF0E6;
  border-radius: 0px 20px 0px 20px;
  text-align: right;
  z-index: 6;
}

div.gui-error-content-container {
  position: relative;
  margin-right: 5px;
  padding: 15px;
  height: 100%;
  overflow-y: scroll;
}

div.gui-error-content {
  text-align: left;
}

button.gui-error-button {
  position: absolute;
  bottom: 12px;
  right: 30px;
  padding: 0 15px 0 15px;
  box-shadow: 3px 3px #FF7850;
  overflow-y: visible;
  z-index: 6;
}

button.gui-error-button:hover {
  box-shadow: 5px 5px #FF7850;
}

div.gui-fullscreen-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #41403FAA;
  z-index: 3; 
}

img.gui-fullscreen-image {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vh;
  max-width: 80vw;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 4;
}

/* gui.menu */
div.gui-menu-icon {
  position: fixed;
  top: 25px;
  right: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 6;
}

img.gui-menu-icon-symbol {
  display: block;
  width: 50px;
  height: 50px;
}

img.gui-menu-icon-symbol.loading {
  fill: #FAF0E6;
}

div.gui-menu-container {
  position: fixed;
  top: 25px;
  right: 50px;
  left: initial;
  width: 270px;
  height: 585px;
  margin: 0;
  padding: 0;
  background-color: #41403F;
  color: #FAF0E6;
  border-radius: 0px 20px 0px 20px;
  overflow: hidden;
  z-index: 6;
}

div.gui-menu-close {
  position: relative;
  z-index: 6;
}

img.gui-menu-close-symbol {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  float: right;
  width: 16px;
  height: 16px;
}

div.gui-menu-logo {
  width: 50%;
  margin: 50px auto 0 auto;
}

div.gui-menu-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 1.8em;
  font-weight: 356;
}

div.gui-menu-text {
  text-align: center;
  font-size: .7em;
  margin: 0 50px 0 50px;
}

div.gui-menu-buttons {
  width: 100%;
  text-align: center;
}

div.gui-menu-links {
  width: 100%;
  margin-top: 60px;
}

div.gui-menu-version {
  color: #9B9691;
  text-align: center;
  font-size: .4em;
  margin-top: 10px;
}

div.gui-menu-buttons > a > button {
  width: 80%;
  height: auto;
  padding: 7px;
  margin: 10px 0 10px -5px;
}

div.gui-menu-links > a {
  display: block;
  margin: 5px;
  color: #FAF0E6;
  font-size: .7em;
  text-align: center;
  text-decoration: none;
}

div.gui-menu-patronage-logo {
  position: absolute;
  bottom: 0;
  background-color: #fff;
}

/* END gui */



/* START model-viewer */

model-viewer {
  width: 100%;
  height: 100vh;
  opacity: 1;
}

/* --- Toolbar and Tools --- */

section.toolbar {
  position: absolute;
  top: 100px;
  width: 50px;
  padding: 0px;
  margin: 20px;
}

button.tool {
  border: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin-bottom: 30px;
  padding: 0;
  border-radius: 25px;
  box-shadow: 3px 1px #46AAC8;
  transition: all 1s;
}

button.tool.attention-animation{
  animation-name: attentionAnimation;
  animation-duration: 4.0s;
  animation-iteration-count: infinite;
}

@keyframes attentionAnimation {
  0% {transform: rotate(0deg) translateX(0px);}
  80% {transform: rotate(0deg) translateX(0px);}
  86% {transform: rotate(7deg) translateX(3px);}
  96% {transform: rotate(-7deg) translateX(-3px);}
  100% {transform: rotate(0deg) translateX(0px);}
}

button.tool.active {
  box-shadow: 3px 1px #FF7850;
}

button.tool:hover {
  transform: scale(1.2);
}

.tool-symbol {
  width: 100%;
  height: 100%;
}

/* --- Hotspots --- */

button.hotspot {
  min-width: 0;
  min-height: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
  --min-hotspot-opacity: 0.2;
}

svg.hotspot-symbol {
  width: 100%;
  height: 100%;
}

.hotspot .border {
  width: 100%;
  height: 100%;
  border: 3px solid #FAF0E6;
  border-radius: 13px 13px 13px 13px; 
  background-color: #46AAC8;
  padding: 2px;
}

img.hotspot-icon {
  width: 100%;
  height: 100%;
}

@keyframes hoverAnimation {
  from {transform: scale(1);}
  to {transform: scale(1.5);}
}

button.hotspot.hover-animation {
  animation-name: hoverAnimation;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* --- Annotations --- */

div.annotation {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px 5px 15px 15px;
  margin: 0;
  min-width: 250px;
  max-width: 35%;
  min-height: 250px;
  max-height: 35%;
  top: 58%;
  left: 52%;
  background-color: #FAF0E6;
  font-size: .7em;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 3px 3px #9B9691; 
  z-index: 2;
}

div.annotation.context-story {
  min-width: 250px;
  max-width: 30%;
  min-height: 250px;
  max-height: 75%;
  top: 5%;
  left: initial;
  right: 5%;
  opacity: 1;
  box-shadow: 3px 3px #FF7850; 
}

img.context-story-icon {
  position: relative;
  width: 48px;
  height: 48px;
  top: 0px;
  margin-right: 12px;
}

div.annotation.context-story::-webkit-scrollbar-thumb {
  background-color: #FF7850;
}

div.annotation::-webkit-scrollbar-track {
  margin-top: 30px;
}

p.annotation-text {
  padding: 0px 30px 15px 0px;
}

p.annotation-text.quote {
  padding: 0 30px 0 40px;
  font-style: italic;
}

a.annotation-link {
  display: block;
  color: #FF7850;
}

a.annotation-link:visited {
  color: #A04B19;
}

div.annotation-image {
  float: right;
  width: 200px;
  margin: 0 15px 15px 30px;
  background-color: #FF7850;
  border-radius: 0px 20px 0px 20px;
}

div.annotation-image > div.annotation-image-box {
  width: 200px;
  height: 200px;
  margin: -15px 0 0 -15px; 
}

div.annotation-image > div.annotation-image-box > img {
  width: 100%;
  height: auto;
}

p.annotation-image-caption {
  font-size: .8em;
  font-weight: 700;
  margin: 0;
  padding: 10px 15px 15px 15px;
  color: #FAF0E6;
}

p.annotation-image-caption > span.copyright {
  font-weight: 356;
  white-space: nowrap;
}

div.annotation-close-container {
  will-change:transform;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
}

img.annotation-close-symbol {
  display: block;
  position: absolute;
  right: 6px;
  float: right;
  width: 16px;
  height: 16px;
}

/* --- measurements --- */

button.dot {
  display: block;
  width: 0px;
  height: 0px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  --min-hotspot-opacity: 0;
  --max-hotspot-opacity: 0;
  pointer-events: none;
}

button.dim {
  display: block;
  position: absolute;
  width: max-content;
  height: max-content;
  color: #46AAC8;
  background-color: transparent;
  border: none;
  box-shadow: none;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
  --min-hotspot-opacity: 0;
}

.dimensionLineContainer {
  pointer-events: none;
  display: block;
}

.dimensionLine {
  stroke: #46AAC8;
  stroke-width: 1;
  stroke-dasharray: 5,7;
  stroke-opacity: 1;
}

/* --- fixes --- */

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}

/* END model-viewer */



/* START a-frame */

/* --- collection viewer --- */

div.cv-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

div.cv-tooltip-type {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px 15px 1px 12px;
  border-radius: 0px 7px 0px 0px;
  font-size: .5em;
  font-weight: 700;
  letter-spacing: .6px;
  z-index: 1;
}

div.cv-tooltip-content {
  position: absolute;
  top: 15px;
  padding: 3px 15px 4px 12px;
  border-radius: 0px 20px 0px 20px;
  font-size: 1em;
  white-space: nowrap;
}

div.cv-highlight {
  position: absolute;
  z-index: 1;
}

div.cv-highlight-type {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px 15px 1px 12px;
  border-radius: 0px 7px 0px 0px;
  font-size: .5em;
  font-weight: 356;
  letter-spacing: .6px;
  z-index: 1;
}

div.cv-highlight-content {
  position: absolute;
  top: 15px;
  padding: 3px 15px 4px 12px;
  border-radius: 0px 20px 0px 20px;
  font-size: 1em;
  white-space: nowrap;
}

img.cv-highlight-arrow {
  display: inline-block;
  margin-left: 10px;
  transform: translateY(3px);
  width: 20px;
  height: 20px;
}


/* --- AR-MODE specific ----*/
/* a-dom overlay ar */
.a-dom-overlay{
  cursor:auto;
}
.a-dom-overlay:not(.a-no-style){
  padding: 0 !important;
pointer-events: auto !important;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
/* BOTTOM MENU*/
.bottom-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 0;
}

button.menu-btn {
  padding: 15px 30px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  background-color: transparent;
  position: relative;
}

.menu-btn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.menu-btn.active::after {
  width: 80px;
}

/* TOOL toggles */
.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  padding-right: 10px;
  position: fixed;
  right: 5%;
  bottom: 100px;
  font-size: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #faf0e6;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #46aac8;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/*SCORE overlay*/
#score-container {
  position: fixed;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 2%;
  top: 2%;
}

.book-container {
  flex-direction: row;
  align-items: center;
  display: flex;
}
img.annotation-book-symbol {
  position: relative;

  width: 50px;
  height: 50px;
}
/*mission overview image*/
.book-symbol {
  height: 150px;
}

div.annotation.mission {
  top: 5% !important;
}

/* QUIZ overlay*/
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.answer-container {
  width: 90%;
}

.answer-option {
  background-color: #ffaf96;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;

  transition: background-color 0.3s;
}

/* Hide the radio buttons */
input[type="radio"] {
  display: none;
}

.answer-option input[type="radio"] {
  margin-right: 10px;
}
/* Change color of the checked label */
input[type="radio"]:checked + .answer-option {
  background-color: #ff7850;
}

/* INVENTAR */
#inventar {
  will-change: transform;
  position: fixed;
  bottom: 8%;
  width: 100%;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
}

.round-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 15px;
  bottom: 8%;
  left: 40%;
  background-color: white;
}

/* Image styling */
.round-container img {
  width: 80%;
  height: auto;
}

.clicked {
  box-shadow: 3px 1px #ff7850;
}

/*close AR container*/
#close-cont {
  padding: 10px;
}

/*small and big MESSAGE*/
#big-message {
  top: 20%;
  min-height: 450px;
}

div.message {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 5px 5px 15px;
  margin: 0;
  min-width: 150px;
  max-width: 80%;
  min-height: 30px;
  max-height: 35%;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(250, 240, 230, 0.5);
  font-size: 0.7em;
  border-radius: 0px 15px 0px 15px;
  box-shadow: 5px 5px #9b9691;
}

.message-btn {
  display: inline-block;
  margin: 5px 5px 0 0;
  padding: 5px 10px;
  font-size: 0.7em;
  color: #333333;
  background-color: rgba(250, 240, 230, 0.5);
  border: 1px solid #9b9691;
  border-radius: 5px;
}
/* Center the buttons horizontally */
.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* END a-frame */





/* START Layout Breakpoints */

@media only screen and (max-width: 1200px) {

  div.annotation-image {
    margin-left: 100%;
  }

}

/* END Layout Breakpoints */

/* START Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

  .version-container {
    position: fixed;
    bottom: 0px;
    right: initial;
    left: 50%;
    width: 150px;
    height: auto;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    font-size: .4em;
    color: #9B9691;
  }

  .logo-container {
    position: fixed;
    bottom: 0px;
    left: 50%;
    right: initial;
    width: 150px;
    height: auto;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
  }

  div.flex-container {
    width: 450px;
  }

  div.annotation {
    margin: 15px;
    min-width: 90%;
    max-width: 90%;
    min-height: 35%;
    max-height: 40%;
    top: 55%;
    left: 0;
  }

  div.annotation.context-story {
    margin: 15px;
    min-width: 90%;
    max-width: 90%;
    min-height: 45%;
    max-height: 80%;
    top: 5%;
    left: 0;
  }

}

/* END Extra small devices (phones, 600px and down) */